<form class="edit-post-form">
  <div>
    <p>Title:</p>
    <textarea name="edit-post-title" id="edit-post-title">{{post.title}}</textarea>
  </div>
  <div>
    <p>Content:</p>
    <textarea name="edit-post-content" id="edit-post-content">{{post.content}}</textarea>
  </div>
  <div class="edit-post-buttons">
    <button type="submit" id="update-post">Update Post</button>
    <button type="submit" id="delete-post">Delete Post</button>
  </div>
</form>