<section class="post-list">
  <!-- Loop to get each of the post -->
  {{#each posts as |post|}}
  <div>
    <!-- Getting post html with post-info.handlebars -->
    {{> post-info post }}
  </div>
  {{/each}}
</section>