<h2>New Post</h2>
<form class="new-post-form">
  <div>
    <p>Title:</p>
    <textarea name="new-post-title" id="new-post-title"></textarea>
  </div>
  <div>
    <p>Content:</p>
    <textarea name="new-post-content" id="new-post-content"></textarea>
  </div>
  <button type="click" id="add-post">Add Post</button>
</form>

<script src="/javascript/add-post.js"></script>