:root {
  --primary-color: #231010;
  --secondary-color: #d9ead3;
  --tertiary-color: #a7a7a7;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--secondary-color);
}

header {
  background-color: var(--primary-color);
  padding: 30px 40px 10px 40px;
}

header a, header button {
  background-color: var(--primary-color);
  border: none;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: large;
  transition: color .1s;
  padding: 1%;
}

header a:hover, header button:hover {
  color: var(--tertiary-color);
}

header h1 {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1%;
  width: fit-content;
  font-weight: bold;
  font-size: 2.5em;
  border-radius: 15px;
  box-shadow: 5px 5px var(--tertiary-color);
}

main {
  flex: 1;
  padding: 2% 4%;
}

/* Post Style Start */
.post {
  margin-bottom: 2%;
  border: 5px solid var(--primary-color);
}

.post-header {
  display: flex;
  background-color: var(--primary-color);
  padding: 1%;
  color: var(--tertiary-color);
  font-size: 1.5em;
  justify-content: space-between;
}

.post-header a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: bold;
}

.post-content {
  padding: 1%;
  color: var(--primary-color);
  font-size: 1.5em;
}
/* Post Style End */

/* Comment Form Style Start */
.comment-form {
  border: 5px solid var(--primary-color);
}

.comment-form h2  {
  color: var(--primary-color);
  padding: 1%;
  margin-top: 0;
  padding-bottom: 0;
}

.comment-form textarea {
  width: 100%;
  height: 200px;
  padding: 1%;
  font-size: 1.5em;
}

.comment-form button {
  width: 100%;
  padding: 1%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.5em;
  transition: color .1s;
}

.comment-form button:hover {
  color: var(--tertiary-color);
}
/* Comment Form Style End */

/* Comment Style Start */
.comment {
  margin-bottom: .5%;
  border: 5px solid var(--primary-color);
}

.comment-created {
  background-color: var(--primary-color);
  padding: 1%;
  color: var(--tertiary-color);
}

.comment-text {
  padding: 1%;
  color: var(--primary-color);
  font-size: 1em;
}
/* Comment Style End */

/* Login Style Begin */
.login-form {
  display: block;
}

.signup-form {
  display: none;
}

.login-form, .signup-form {
  border: 5px solid var(--primary-color);
  margin-bottom: .5%;
}

.login-form h2, .signup-form h2 {
  margin-top: 0;
  padding: 1%;
  background-color: var(--primary-color);
  color: var(--secondary-color)
}

.login-form div, .signup-form div{
  padding: 0 1% 1% 1%;
}

.login-form div label, .signup-form div label{
  display: block;
  font-size: 1.25em;
}

.login-form div input, .signup-form div input{
  width: 100%;
  font-size: 1.2em;
}

.login-form div button, .signup-form div button{
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.25em;
  padding: 0.5%;
  border-radius: 15px;
  transition: background-color .1s;
}

.login-form div button:hover , .signup-form div button:hover {
  background-color: var(--tertiary-color);
}

#go-to-login, #go-to-signup {
  font-size: 1.25em;
  color: blue;
}

/* Login Style End */

/* Dashboard Style Start */
.dashboard-post-list div {
  margin-bottom: 5px;
  background-color: var(--tertiary-color);
  border-radius: 25px;
  padding: 10px;
}

.dashboard-post-list div a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

.new-post {
  display: inline-block;
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 1%;
  font-size: 1.5em;
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 25px;
}
/* Dashboard Style End */

/* Edit Post Style Begin */
.edit-post-form {
  border: 5px solid var(--primary-color);
  margin-bottom: .5%;
}

.edit-post-form div {
  padding: 0 1% 1% 1%;
}

.edit-post-form div p{
  display: block;
  font-size: 1.25em;
  font-weight: bold
}

#edit-post-title, #edit-post-content {
  width: 100%;
  font-size: 1.2em;
}

#edit-post-content {
  min-height: 100px;
}

#update-post, #delete-post{
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--secondary-color);
  border-radius: 5px;
}

#update-post {
  background-color: var(--primary-color);
  margin-bottom: 0.2%
}

#delete-post {
  background-color: var(--tertiary-color);
}

/* Edit Post Style End */
.new-post-form {
  border: 5px solid var(--primary-color);
  margin-bottom: .5%;
}

.new-post-form div p{
  display: block;
  font-size: 1.25em;
  font-weight: bold
}

#new-post-title, #new-post-content {
  width: 100%;
  font-size: 1.2em;
}

#new-post-content {
  min-height: 100px;
}

#add-post{
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--secondary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
}
/* Add Post Style Start */
